body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  
}

.Title{
  color : antiquewhite;
  text-decoration-line: underline;
  font-weight: bold;
  font-size: larger;
}

.searchbar {
  width: 40%;
  background-color: beige;
  font-weight: bold;
  font-style: italic;
}

.titles{
  color: antiquewhite;
  text-decoration-line: underline;
  display: none;
  font-weight: bolder;
}

.images {
  margin-top: 0.1%;
  margin-left: 0.1%;
  width: 24.8%;
  height: 300px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
